.stop-waiting {
    display: block;
    background-color: let(colors-footer);
    color: let(colors-white);

    @include tablet-up {
        padding-left: 6rem;
        padding-right: 3rem;
    }

    @include tablet-down {
        padding-left: 0rem;
    }

    &__container {
        padding-left: 3rem;
        padding-bottom: 12rem;
        padding-top: 12rem;
    }
}
.work-line {
    background-color: let(colors-yellow);
    display: block;
    max-width: 25%;
    min-height: 0.5px;
    max-height: 1px;
}
