.work {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background-color: let(colors-footer);
    color: let(colors-lightGrey);

    @include tablet-down {
        padding-left: 0rem;
    }

    &__container {
        padding-left: 3rem;
        padding-bottom: 6rem;
        padding-top: 6rem;

        @include tablet-up {
            padding-bottom: 3rem;
            padding-left: 6rem;
            padding-right: 3rem;
        }
    }
}


.work-line {
    background-color: let(colors-yellow);
    display: block;
    max-width: 25%;
    min-height: 0.5px;
    max-height: 1px;
}

.works {

    padding: 1.5rem;
    
    @include tablet-up {
        padding: 0 5rem;
    }

    & .cover img {
        max-width: 100%;
        object-fit: cover;
        padding: 1rem;

        @include grayscale(70%);

        &:hover {
            @include grayscale(0%)
        }

        @include tablet-up {
            width: 100%;
            height: 15vw;
            object-fit: cover;
        }

    }

    & .h3 {
        padding-top: 1rem;
        font-size: 1.5rem;
        text-transform: uppercase;
    }

    & p {
        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.card {
    background-color: let(colors-yellow);
    color: let(colors-footer);
    box-shadow: rgba(0, 0, 0, 0.888) 0px 4px 10px;

    height: 95%;
    margin: 2rem 0;
    padding-bottom: 1rem;

    &-footer {
        height: 10%;
    }
}

.button {
    padding: 1rem;
}