.work {
    background-color: let(colors-footer);
    color: let(colors-lightGrey);

    @include tablet-down {
        padding-left: 0rem;
    }

    &__container {
        padding-left: 3rem;
        padding-bottom: 6rem;
        padding-top: 6rem;
        @include tablet-up {
            padding-left: 6rem;
            padding-right: 3rem;
        }
    }
}


.work-line {
    background-color: let(colors-yellow);
    display: block;
    max-width: 25%;
    min-height: 0.5px;
    max-height: 1px;
}

.works {
    padding: 1.5rem;
    
    @include tablet-up { 
        padding: 1rem 5rem;
    };


    & img {
        max-width: 100%;
        object-fit: cover;
        padding: 1rem;

        @include grayscale(70%);

        &:hover {
            @include grayscale(0%)
        }
    }

    p {
        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.card {
    background-color: let(colors-yellow);
    color: let(colors-footer);
  
    height: 95%;
    margin: 2rem 0;
    padding-bottom: 1rem;
}

.button {
    padding: 1rem;
}